
._banner {
  h1 {
    @apply text-white;
  }
  h3 {
    @apply text-2BB1D9 text-[51px] leading-[62px] m-0;
  }
}
._stats {
  ._box {
    @apply bg-F7FAFC p-12 shadow-amhshadow1;
    img {
      @apply inline-block mb-5;
    }
    p {
      @apply text-707070;
    }
  }
}
hr {
  position: relative;
  @apply pb-16 border-0;
  &:after {
    content: '';
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    @apply absolute w-[294px] bg-707070 h-[2px] left-2/4 bottom-0;
  }
}
._tags {
  a {
    @apply text-2BB1D9 rounded-full border-2 leading-[37px] w-full text-center;
  }
}
._events {
  ._holder {
    @apply shadow-amhshadow2 bg-FFFFFF px-[40px] pt-[87px] pb-[60px] rounded-[6px];
    ._ev {
      @apply rounded-[6px] p-6 bg-B8DDFD bg-opacity-[0.20];
      ._d {
        @apply text-E50019 uppercase text-[13px] leading-[40px] mb-0;
      }
      h4 {
        @apply mb-5;
        span {
          @apply w-full inline-block text-1F1F1F;
        }
      }
      p:not(._d) {
        @apply text-[13px] leading-[18px] mb-4;
      }
      a {
        @apply uppercase text-[15px] leading-[42px] text-003E92 font-semibold;
      }
    }
  }
}
