@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-800 font-sans text-xl  font-normal overflow-x-hidden;
  }

  section {
    @apply relative py-28;
    clear : both;
  }

  h1 {
    @apply text-blue-dark text-5xl leading-tight font-bold;
  }

  h2 {
    @apply text-blue-dark text-5xl leading-tight font-bold;
  }

  h3 {
    @apply text-blue-dark leading-tight;
  }

  h4 {
    @apply text-blue-dark leading-tight font-light;
  }

  p {
    @apply mb-4;
  }

  a.button {

    @apply text-red-dark hover:text-red
      border-2  rounded-full px-12;

    &.large {
      @apply text-4xl ;
    }

    &.red {
      @apply border-red;
    }
    &.white {
      @apply border-white text-white;
    }
  }
}

@import 'components/modules';
@import 'components/home/main';

.page-content {
  padding: 0 15px !important;
}
.staff-flex{
  @apply flex flex-row;
}
.staff-image{
  @apply rounded-full;
}
.staff-media{
  flex: 0 0 20%;
}
.staff-meta{
  @apply py-0 px-6;
  flex: 0 0 80%;
}
.staff-meta p br{
  @apply hidden;
}
.page-id-160 ._parallax {
  @apply hidden;
}
.quote-icon {
  @apply relative;
}
.quote-icon:before{
  content: "";
  @apply h-24 w-24 absolute -top-16 -left-16 bg-contain bg-no-repeat bg-left;
  background-image: url(http://amhic.local/wp-content/uploads/2021/07/quote.png);
}
.quote-reference h5 {
  @apply text-right text-lg  text-red-700 font-semibold;
}
.quote-reference p {
  @apply text-right text-lg  tracking-normal text-blue-700 font-normal;
}
.blue-overlay {
  min-height: 100% !important;
  height: inherit !important;
  position: absolute !important;
}
._p_relative{
  @apply relative;
}
._z_index_1{
  z-index: 1;
}
.page-id-314 ._parallax {
  @apply hidden;
}
.check-mark-li ul li {
  @apply w-1/3 inline-block float-left py-0 px-9 text-gray-800 text-base  relative mb-12;
}
.check-mark-li ul li br{
  @apply hidden;
}
.check-mark-li ul li strong {
  @apply text-blue-700 text-lg  mb-4 block;
}
.check-mark-li ul li:before {
  content: "";
  background-image: url(http://amhic.local/wp-content/uploads/2021/07/checked.png);
  @apply h-6 w-6 absolute top-0 left-0 bg-center bg-no-repeat bg-cover;
}
.partner_slider{
  @apply bg-white rounded-lg min-h-[490px];
  box-shadow: 0px 25px 50px #00000040;
}
.partner_slider.partner_slider_responsive {
  @apply hidden;
}
.partner-box {
  @apply p-9;
  .partner-box-img {
    @apply p-4 inline-block relative w-6/12;
    img {
      @apply max-w-full;
    }
  }
  .partner-box-name {
    @apply h-4/5 w-full max-w-[87%] absolute top-4 text-blue-700 text-xl  text-center pt-[38%];
  }
}
.partner_slider .slick-prev{
  @apply left-0 z-50;
}
.partner_slider .slick-prev:before{
  @apply hidden;
}
.partner_slider .slick-prev:after {
  content: "";
  // border-top: 10px solid transparent;
  // border-right: 20px solid #7B1010;
  // border-bottom: 10px solid transparent;
  // border-radius: 5px !important;
  background-image: url(../img/left-polygon.png);
  @apply absolute left-2.5 -top-1 w-7 h-7 bg-no-repeat bg-center;
}
.partner_slider .slick-next{
  @apply right-0 z-50;
}
.partner_slider .slick-next:before{
  @apply hidden;
}
.partner_slider .slick-next:after {
  content: "";
  // border-top: 10px solid transparent;
  // border-left: 20px solid #7B1010;
  // border-bottom: 10px solid transparent;
  // border-radius: 5px !important;
  background-image: url(../img/right-polygon.png);
  @apply absolute right-2.5 -top-1 w-7 h-7 bg-no-repeat bg-center;
}
.partner_slider .slick-prev,
.partner_slider .slick-next{
  @apply top-1/2;
}
.page-id-435 ._parallax,
.page-id-504 ._parallax,
.page-id-653 ._parallax,
.page-id-592 ._parallax,
.page-id-712 ._parallax {
  @apply hidden;
}
.team-testimonial .person-name{
  @apply text-base  text-red-700;
}
.team-testimonial .staff-box{
  @apply pr-0;
}
.team-testimonial .description,
.team-testimonial .description p{
  @apply text-base  text-blue-600;
}
.p-0 > div {
  padding: 0 !important;
}
.card-info ul li{
  @apply text-gray-400 text-base  mb-4;
}
.card-info ul li strong{
  width: auto !important;
  @apply inline-block float-right font-black;
}
.card-info p {
  @apply text-gray-400 text-base ;
}
.card-info h4{
  @apply text-gray-400 text-base ;
}
.circled-number:before {
  content: "";
  color: inherit;
  border: 3px solid;
  @apply w-16 h-16 rounded-full inline-block mr-4;
}
.circled-number-1:before{
  content: "1";
}
.circled-number-2:before{
  content: "2";
}
.circled-number-3:before{
  content: "3";
}
.check-list  {
  ul{
    li{
      // background-image: url(../img/check-list.png);
      @apply bg-no-repeat bg-left text-xl  text-gray-400 pl-16 mb-6 relative;

    }
    li:before{
      content: "";
      @apply absolute left-0 -top-2 h-16 w-16;
      background-image: url(../img/check-list.png);
      background-size: 60px;
    }
  }
}
.download-btn button {
  font-size: 25px !important;
  padding: 10px !important;
}
/* Tailwind */
.banner-blue-overlay {
  @apply relative min-h-screen pb-8 bg-cover bg-center overflow-hidden;
}
.banner-blue-overlay::before {
  content: "";
  display: block !important;
  @apply absolute top-0 left-0 h-full w-full bg-left bg-cover;
  background-image: url(../img/banner-overlay.png);
}
.section-blue-overlay {
  @apply relative pb-8 bg-cover bg-center overflow-hidden;
}
.section-blue-overlay::before {
  content: "";
  display: block !important;
  @apply absolute top-0 left-0 h-full w-full left-0 bg-left bg-cover;
  background-image: url(../img/overlay.png);
  // background: #fff0;
  // background: -webkit-linear-gradient(to right, #0228bf9e, #fff0);
  // background: linear-gradient(to right, #0228bf9e, #fff0);
}
.min-h-733{
  @apply min-h-[733px];
}
.section-expert-guidance{
  @apply bg-white;
}
.section-heading-blue{
  @apply text-blue-700 font-black text-5xl ;
}
.team-card {
  .vc_column-inner{
    @apply rounded-xl;
    box-shadow: 0px 10px 10px #0000000a;
    h3{
      @apply font-black text-2xl text-gray-400 mb-3;
    }
    h4{
      @apply font-semibold text-lg mb-6;
    }
    a{
      @apply text-base relative pl-6 bg-no-repeat bg-left;
      background-size: 16px;
    }
    .email{
      background-image: url(../img/email.png);
    }
    .phone{
      background-image: url(../img/call.png);
    }
  }
}
.staff-main-card{
  h3{
    @apply text-gray-400 text-xl  mb-1 font-semibold;
    letter-spacing: 0;
  }
  h5{
    @apply text-blue-600 font-normal text-lg  mb-5;
  }
  a {
    @apply text-gray-400 text-base  pl-6 bg-no-repeat bg-left;
    background-size: 16px;
  }
  .email {
    background-image: url(http://amhic.local/wp-content/uploads/2021/07/email.png);
  }
  .phone {
    background-image: url(http://amhic.local/wp-content/uploads/2021/07/call.png);
  }
}
.section-board-of-directors{
  @apply bg-white;
}
.team-staff{
  .staff-box {
    @apply mb-20 pr-12;
    .staff-meta h3 {
      @apply text-gray-800 text-2xl  font-normal m-0 mb-3;
    }
    .staff-meta h4 {
      @apply text-red-500 text-2xl  font-normal m-0 mb-3;
    }
    .staff-meta p {
      @apply text-lg  font-normal text-gray-400 m-0 mb-3;
    }
  }
}
.quote-text {
  * {
    @apply text-blue-700 text-4xl  relative z-50;
  }
}
.quote-reference {
  p {
    @apply text-lg tracking-normal text-blue-700  font-normal;
  }
  h5 {
    @apply text-right text-lg  text-red-700 font-semibold;
  }
}
.team-board {
  .staff-box{
    @apply p-0;
    .staff-meta{
      flex: 0 0 100%;
      h3{
        @apply text-base  font-normal text-red-700 mb-1;
      }
      h4{
        @apply text-base  font-normal text-blue-600 mb-1;
      }
      p{
        @apply text-base  font-normal text-blue-600 mb-1;
      }
    }
  }
}
.team-service  {
  .staff-box{
    @apply p-0;
    .staff-image {
      @apply h-28 mx-auto;
    }
    .staff-media{
      @apply mb-8;
    }
    .staff-meta {
      @apply text-center;
      flex: 0 0 100%;
    }
  }
  .person-name{
    @apply text-gray-800 text-2xl  font-normal;
  }
  .job-title{
    @apply text-2xl  font-normal text-red-500 mb-8;
  }
  .person-email,
  .person-phone{
    @apply text-base font-normal  tracking-normal text-gray-400;
  }
}
.wpcf7-form{
  @apply text-center;
  ._join {
    input[type="submit"]{
      @apply block bg-blue-600 py-5 px-12 text-4xl text-white my-0 mx-auto w-auto rounded-full;
    }
  }
}
.home-page-banner{
  @apply min-h-screen relative;
  background-image: url(../img/home-banner-overlay.png);
  h2{
    @apply text-5xl text-white ;
  }
  button{
    font-size: 35px !important;
    padding: 10px 3rem !important;
    line-height: 42px !important;
    font-size: 35px !important;
  }
}
._box_shadow {
  .vc_column-inner{
    box-shadow: 3px 3px 9px #00000029;
  }
}
.section-sub-heading-blue{
  @apply text-blue-700 text-4xl  font-black;
}
.normal-text{
  p{
    @apply text-3xl  text-gray-800 font-normal;
    br{
      @apply hidden 2xl:block;
    }
  }
}
.custom-btn-red-border {
  button{
    color: #C32026;
    background-color: transparent !important;
    border: 2px solid #C32026 !important;
    width: 345px;
    font-size: 26px !important;
    line-height: 32px !important;
    padding: 7px !important;
    background-image: none !important;
  }
}
.membership-text {
  ul{
    @apply mx-auto my-0 mt-8;
    li{
      @apply text-blue-700 text-3xl  mb-4 font-black inline-block w-6/12;
      font-family: "proxima-nova",sans-serif;
    }
  }
  p {
    @apply text-gray-800 text-3xl ;
  }
}
.section-core-plans{
  @apply bg-white;
  img{
    @apply min-h-[200px] w-auto mx-auto my-0;
  }
}
.section-core-values{
  @apply bg-blue-700;
}
.core-values-text{
  @apply text-3xl  text-white;
  em{
    @apply not-italic opacity-40;
  }
}
.custom-btn-white-border {
  button{
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #fff !important;
    width: 345px;
    font-size: 26px !important;
    line-height: 32px !important;
    padding: 7px !important;
    background-image: none !important;
  }
}
.benefit-manager-events-heading{
  @apply text-6xl  text-blue-700;
}
.about-us-content{
  @apply bg-white;
}
.about-us-content{
  .normal-text {
    p{
      @apply text-3xl text-gray-400  text-center mb-16;
    }
  }
}
.about-our-mission-heading{
  @apply text-5xl  text-white;
}
.about-our-mission-text{
  @apply text-2xl  text-white;
}
.about-section-heading{
  @apply text-5xl text-blue-700 ;
}
.about-normal-text{
  @apply text-gray-400 text-xl ;
}
.home-banner-card{
  @apply text-2xl text-gray-400 ;
}
.home-side-heading {
  @apply text-blue-700 text-6xl  font-black;
}
.home-side-content{
  p{
    @apply font-semibold;
  }
}
.home-arrow{
  @apply relative text-center block;
  span{
    @apply invisible absolute;
  }
}
.home-arrow:before{
  content: "";
  @apply absolute w-0 h-0 visible;
  opacity: 0.4;
}
.previous-arrow-up:before{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -45px;
}
.next-arrow-down:before{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  bottom: 0;
}
.home_slider_single{
 *{
   @apply text-2xl  text-white opacity-40;
 }
}
.home_slider_single > div{
  min-height: 120px !important;
}
.home_slider_single.slick-slide.slick-current.slick-active + .home_slider_single * {
  opacity: 1;
}
.about-side-heading{
  @apply text-5xl  text-blue-700 font-black;
}
.home-banner-cards-row {
  @apply -mt-44;
}
.about-side-content{
  *{
    @apply text-2xl  text-gray-400 font-normal;
  }
}
.section-our-primary-goals{
  @apply bg-blue-700;
  .section-our-primary-goals-heading{
    @apply text-5xl text-white ;
  }
  .primary-goals-excerpt{
    @apply text-xl text-white ;
  }
  img{
    @apply w-full;
  }
}
.heading_50_61_1b2c6d{
 @apply text-5xl  text-blue-700 font-black;
}
.heading_50_61_ffffff{
  @apply text-5xl  text-white font-black;
 }
.bg_F7FAFC{
  @apply bg-white;
}
.heading_43_54_ffffff{
  @apply text-5xl  text-white font-black;
}
.heading_45_54_1b2c6d{
  @apply text-5xl  text-blue-700 font-black;
}
.heading_79_95_ffffff{
  @apply text-xl  font-black text-white;
}
.heading_38_46_1b2c6d{
  @apply text-4xl  text-blue-700 font-black;
}
.heading_29_36_ffffff{
  @apply text-3xl  text-white font-black;
}
.testimonials_slider_single_content{
  @apply relative;
  *{
    @apply relative z-50 text-4xl  text-blue-700 text-center;
  }
}
.testimonials_slider{
  @apply relative my-16;
}
.testimonials_slider:before{
  content: "";
  background-image: url(../img/quote.png);
  @apply bg-no-repeat bg-contain h-24 w-24 absolute -left-16 -top-16;
  background-position: left top;
}
.bg_top{
  @apply bg-top;
}
.testimonials_slider_single_meta{
  @apply mt-10;
  h3{
    @apply text-right text-lg  text-red-700 font-semibold;
  }
  h4{
    @apply text-right text-lg  text-blue-700 font-normal;
  }
}
.testimonail-slider-container{
  @apply relative;
  .testimonial-arrow{
    @apply absolute top-16 invisible;
  }
  .testimonial-previous-arrow{
    @apply -left-14;
  }
  .testimonial-next-arrow{
    @apply -right-20;
  }
  .testimonial-arrow:before{
    @apply visible;
  }
  .testimonial-previous-arrow:before{
    content: "";
    @apply w-0 h-0 absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid #1B2C6D;
    border-bottom: 10px solid transparent;
  }
  .testimonial-next-arrow:before{
    content: "";
    @apply w-0 h-0 absolute;
    border-top: 10px solid transparent;
    border-left: 10px solid #1B2C6D;
    border-bottom: 10px solid transparent;
  }
}
.heading_24_29_1B2C6D{
  @apply text-2xl  text-blue-700 font-normal;
}
.testimonial-simple-container{
  .testimonial_simple_box{
    @apply p-3;
  }
  h3{
    @apply text-left text-base ;
  }
  h4{
    @apply text-left text-base ;
  }
}
.heading_59_72_1B2C6D{
  @apply text-6xl  text-blue-700 font-black;
}
.heading_28_34_C32026{
  @apply text-3xl  text-red-700 font-black;
}
.text_20_24_707070{
  @apply text-xl  text-gray-400 font-normal;
}
.bg_1B2C6D{
  @apply bg-blue-700;
}
.heading_24_41_ffffff{
  @apply text-2xl  text-white font-black;
}
.row-core-plans .vc_col-sm-4 .vc_column-inner {
  @apply bg-white rounded-xl overflow-hidden relative;
  box-shadow: 0px 20px 25px #0000001A;
}
.core-plans-col-heading{
  @apply bg-gray-100 text-blue-600 text-2xl  font-normal p-4 absolute top-0 left-0 w-full;
}
.our-core-plans-text{
  h3{
    @apply text-3xl  text-blue-700 font-semibold;
  }
  ul{
    @apply my-8;
    li{
      @apply relative text-blue-700 text-2xl  font-normal pl-1 mb-5;
    }
    li:before{
      content: "";
      @apply w-2 h-2 bg-blue-700 rounded-full inline-block relative -top-1 -left-1;
    }
  }
}
.heading_35_42_1b2c6d{
  @apply text-4xl  text-blue-700 font-black;
}
.heading_16_20_1b2c6d{
  @apply text-base  text-blue-700 font-black;
}
.bg_3250C7{
  @apply bg-blue-500;
}
.heading_45_54_ffffff{
  @apply text-5xl  text-white font-black;
}
.heading_30_37_ffffff{
  @apply text-3xl  text-white font-normal;
}
.heading_38_28_FFFFFF{
  @apply text-4xl  text-white font-normal;
}
.box_shadow {
  box-shadow: 0px 4px 6px #0000000D;
  @apply rounded-xl;
}
.download-link-box {
  @apply min-h-[160px] rounded-md;
  h3{
    @apply text-blue-700 text-4xl  min-h-[85px] font-black;
  }
  a {
    @apply text-red-700 text-base  mr-4;
  }
  img {
    @apply w-auto max-w-full relative top-4;
  }
}
.about-content{
  @apply text-2xl  text-gray-400;
  p{
    @apply text-2xl  text-gray-400;
  }
  .phone,
  .email{
    @apply text-red-700 relative;
    img{
      @apply inline-block h-5;
    }
  }
  .address {
    @apply pl-5 relative;
    img{
      @apply absolute h-5 left-0 top-0;
    }
  }
}
.bg_173064{
  @apply bg-blue-700;
}
.button-with-icon {
  button{
    border: 2px solid #C1232C !important;
    border-radius: 20px !important;
    padding: 5px 45px !important;
    font-size: 24px !important;
    line-height: 29px !important;
  }
}
.text_30_37_8A8A8B{
  p{
    @apply text-3xl text-gray-300;
  }
}z
.bg_F5F5F5{
  @apply bg-white;
}
.text_22_32_707070{
  @apply text-xl  text-gray-400;
}
.bg_3250C7{
  @apply bg-blue-500;
}
.contact-card{
  .vc_column-inner{
    box-shadow: 0px 10px 10px #0000000A;
    @apply rounded-lg px-6 py-10 bg-white;
  }
  h3 {
    @apply text-blue-700 text-xl  font-black min-h-[60px] mb-4;
  }
  em{
    @apply text-gray-400 text-base  min-h-[60px];
  }
  h6{
    @apply text-blue-600 text-base  mb-8;
  }
  h4 {
    @apply text-blue-700 text-xl  font-black mb-5;
  }
  ul{
    @apply mb-8;
    li{
      @apply text-blue-600 text-base  mb-3;
      text-align: justify !important;
      strong {
        @apply font-normal inline-block;
        width: 90px !important;
      }
    }
  }
  h5 {
    @apply text-blue-600 text-base  font-black absolute bottom-10 left-0 w-full block;
    text-align: center !important;
  }
}
.bg_FFF67B{
  @apply bg-yellow-500;
}
.alert{
  @apply my-12 p-11;
  margin-bottom: 50px !important;
  .alert-content {
    *{
      @apply text-gray-400 text-xl  font-normal;
    }
    strong{
      @apply font-semibold;
    }
  }
  .alert-icon{
    img{
      @apply max-h-[67px] w-auto m-auto mt-2;
    }
  }
}
.section-member-resources-tabs{
  .tablinks{
    @apply text-gray-400 text-2xl  block transition-all outline-none;
  }
  .tablinks:hover,
  .tablinks:focus,
  .tablinks:active{
    @apply outline-none text-red-700;
  }
  .tablinks.active{
    @apply text-red-700;
  }
  .tab-content{
    @apply p-4;
    h3{
      @apply text-blue-600 text-3xl  font-black mb-12;
    }
    p{
      @apply text-gray-400 text-xl  mb-4;
    }
    .two-cols-column{
      @apply p-4;
    }
    h4{
      @apply text-gray-400 text-2xl  font-semibold mb-8;
    }
    ul{
      @apply pl-11 mt-8;
      li{
        @apply text-gray-400 text-xl  mb-10;
      }
    }
  }
}
.page-id-1141 ._parallax{
  display: none;
}
.bg_7B1010{
  @apply bg-red-800;
}
.btn_white_red_border{
  button{
    color: #C32026 !important;
    font-size: 26px !important;
    line-height: 32px !important;
    background-color: #fff !important;
    border: 2px solid #C1232C !important;
    border-radius: 20px !important;
    padding: 5px 45px !important;
    text-transform: uppercase !important;
  }
}
.events-box{
  @apply mb-16;
  h3{
    @apply text-blue-600 text-xl  font-semibold;
  }
  .title{
    @apply font-black text-2xl mb-5;
  }
  p{
    @apply text-gray-400 text-2xl ;
  }
  .link{
    @apply text-red-700 text-2xl  bg-white py-1 px-11 rounded-3xl uppercase border-2 border-red-700 mt-8 inline-block;
  }
}

#tsd_menu{
  @apply border-none mr-0 p-0 ;
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
  ul{
    @apply border-none mr-0 p-0 flex items-center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    li {
      @apply mr-14;
      a{
        @apply outline-none block relative font-normal text-2xl  uppercase;
      }
    }
    li:last-child{
      @apply mr-0;
    }
  }
  li{
    @apply  block relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  li.current-menu-item {
    a{
      @apply font-semibold;
    }
  }
  a{
    // @apply ;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}
.about-icon-row-responsive {
  display: none !important;
}
.color-menu-link{
  a{
    @apply bg-red-700 rounded-3xl text-white text-2xl  uppercase px-9 py-1;
    border: 2px solid #C1232C;
  }
  a:hover,
  a:focus,
  a:active{
    @apply font-normal;
  }
}
.lock-icon-menu-link{
  @apply relative;
  a:before{
    content: "";
    @apply h-4 w-4 inline-block relative -left-1;
    background-image: url(../img/padlock.png);
    background-size: 15px;
  }
}
#tsd_menu ul li.has-sub:hover > ul,
#tsd_menu ul li.has-sub:hover > div {
  @apply block;
}
#tsd_menu ul li > ul,
#tsd_menu ul li > div {
	border-radius: 5px;
  @apply z-50 top-12 absolute w-auto hidden;
}
#tsd_menu ul li > ul {
  @apply w-52 bg-blue-600;
  box-shadow: 0px 0px 10px #00000045;
  transition: all .5s ease;
}
#tsd_menu ul li > ul li {
  @apply block relative w-full pl-3 max-w-full;
}
#tsd_menu ul li > ul li a {
  @apply outline-none block relative mr-0 text-white text-base  py-1;
}
.height-unset{
  min-height: unset;
}
.home-banner-card {
  .vc_column-inner{
    padding: 50px !important;
  }
}
.bg_DFF3F9{
  @apply bg-gray-100;
}
.custom-btn-red-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
._relative{
  @apply relative;
}
.heading_60_73_ffffff{
  @apply text-6xl  text-white font-black;
}
.footer-cols {
  @apply grid grid-cols-2;
}
.footer-nav{

}
.footer-copyright-text{
  @apply grid grid-cols-12;
}
footer ._holder ul li:nth-last-child(2) {
  border-right: 0;
}
.footer-heading{
  @apply text-3xl text-white font-black text-center;
}
div#myTopnav {
  @apply hidden;
}
.topnav {
  @apply overflow-hidden;
}

.topnav a {
  @apply float-left block text-center px-4 py-4 no-underline text-base;
}

.topnav .icon {
  @apply hidden;
}

.dropdown {
  @apply float-left overflow-hidden;
}

.dropdown .dropbtn {
  @apply text-base border-none outline-none text-white px-4 py-4 m-0;
}

.dropdown-content {
  @apply hidden absolute min-w-[160px] z-10;
}

.dropdown-content a {
  @apply float-none py-3 px-4 no-underline block text-left;
}

.dropdown:hover .dropdown-content {
  @apply block;
}
.responsive-logo {
  @apply max-w-[260px];
}
.topnav.responsive ul li {
  @apply block w-full;
}
.topnav.responsive ul li a{
  @apply text-blue-600 font-semibold;
}
.home_slider_left{
  .slick-arrow{
    @apply invisible;
  }
}
.home_slider_left_single{
  h3{
    @apply text-3xl  text-white font-black block;
  }
  img{
    @apply h-36 w-auto block ml-auto;
  }
  h2{
    @apply text-5xl  text-white font-black text-right block;
  }
}
.employer-options-box{
  .heading {
    @apply bg-blue-700 text-center mb-1;
    h2{
      @apply text-white tracking-widest text-4xl font-normal uppercase;
    }
  }
  .sub-heading{
    @apply bg-red-700 text-center mb-1;
    h2{
      @apply text-white tracking-widest text-3xl font-normal uppercase;
    }
  }
  .sub-box-container{
    @apply grid grid-cols-12 mb-1;
    .sub-box-col-left {
      background-color: #d8d8d8;
      @apply mr-1 align-middle text-center col-span-5 p-4;
      .heading-container{
        @apply flex align-middle w-full h-full justify-center items-center;
        .heading-text{

        }
      }
    }
    .sub-box-col-right {
      background-color: #f1f1f1;
      @apply ml-1 align-middle col-span-7 p-4;
      ul{
        li{
          @apply relative pl-6;
        }
        li:before{
          content: "";
          @apply h-1 w-1 bg-gray-700 rounded-full absolute left-0 top-3;
        }
        ul{
          li{
            @apply relative pl-6;
          }
          li:before{
            content: "»";
            @apply h-0 w-0 bg-transparent rounded-full absolute left-0 -top-1;
          }
        }
      }
    }
  }
}
.steady-rates-box {
  @apply bg-white rounded-lg py-4 mt-14;
  box-shadow: 0 3px 20px #00000052;
  .steady-rates-heading{
    @apply grid grid-cols-12 pt-1 pb-5;
    .steady-rates-heading-col{
        h3{
          @apply text-white text-xl font-black pl-6;
          color: #283c90;
        }
    }
    .steady-rates-heading-col-left{
      @apply col-span-8;
    }
    .steady-rates-heading-col-right{
      @apply col-span-4;
    }
  }
  table{
    @apply table-auto w-full;
    thead{
      @apply bg-blue-700;
      th{
        @apply text-white text-base font-normal tracking-wider;
      }
    }
    tr{
      th, td{
        @apply text-center;
      }
      th:first-child{
        @apply text-left pl-6;
      }
      td:first-child{
        @apply text-left pl-6;
      }
    }
    tbody{
      @apply pt-6;
      th, td{
        @apply px-6 py-1;
        color: #283c90;
      }
      tr:first-child{
        td{
          @apply pt-6;
        }
      }
      tr:nth-child(2n){
        background-color: #f0f0f0;
      }
    }
  }
}
ul.mobile-footer-nav {
  @apply relative top-9;
  li:last-child {
    a {
      img {
        @apply h-6 relative top-1;
      }
    }
  }
}
._join {
  input, textarea{
    @apply py-6 text-xl mb-4;
  }
  input[type="submit"]{
    font-size: 25px !important;
  }
}
.member-resources-tabs{
  ul.vc_tta-tabs-list{
    margin-top: 15px !important;
    li{
      a{
        @apply text-gray-400 text-2xl  block transition-all outline-none;
        background-color: transparent !important;
        border: none !important;
      }
      a:hover,
      a:focus,
      a:active{
        @apply outline-none text-red-700;
      }
    }
    li.vc_active{
      a{
        @apply text-red-700;
        span{
          @apply text-red-700;
        }
      }
    }
  }
  .vc_tta-panels{
    @apply px-6;
    background-color: transparent !important;
    border: none !important;
    h3{
      @apply mb-12 text-3xl font-black  text-blue-600;
    }
    @apply p-4;
    h3{
      @apply text-blue-600 text-3xl  font-black mb-12;
    }
    p{
      @apply text-gray-400 text-xl  mb-4;
    }
    .two-cols-column{
      @apply p-4;
    }
    h4{
      @apply text-gray-400 text-2xl  font-semibold mb-8;
    }
    ul{
      @apply pl-11 mt-8;
      li{
        @apply text-gray-400 text-xl  mb-10;
        a._simpleBtn{
          @apply px-1;
          img{
            margin-right: 3px !important;
          }
        }
      }
    }
  }
}
@media(min-width: 320px) and (max-width: 767px){
  .color-menu-link {
    a{
      @apply w-auto mx-4;
      padding: 7px 40px !important;
      color: #fff !important;
      text-align: center !important;
    }
  }
  .section-board-of-directors .grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .team-staff .staff-flex {
    flex-direction: column;
  }
  .team-staff .staff-box {
    padding-right: 0;
  }
  .team-staff .staff-media {
    flex: 0 0 100%;
  }
  .team-staff .staff-meta {
      flex: 0 0 100%;
      padding: 25px;
  }
  .section-additional-board-members .grid-cols-4 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .team-board, .team-service {
    @apply mb-10;
  }
  .section-our-service-team .grid-cols-4 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .team-card .vc_column-inner {
      margin: 0 !important;
  }
  .team-card {
    padding: 15px !important;
  }
  .team-board .staff-box .staff-meta {
    padding: 0;
  }
  .home-page-banner h2{
    @apply text-3xl ;
  }
  .home-page-banner button{
    font-size: 16px !important;
    padding: 5px 30px !important;
  }
  .home-banner-card {
    @apply mx-4;
    .vc_column-inner{
      padding: 25px !important;
    }
  }
  .normal-text {
    br{
      @apply hidden;
    }
    p{
      @apply text-lg ;
      // font-size: 18px !important;
      // line
    }
  }
  .custom-btn-red-border{
    position: unset;
    button {
      @apply w-auto;
      padding: 7px 40px !important;
    }
  }
  .home-chess-sections .vc_col-sm-7 .vc_column-inner {
    padding: 50px!important;
    .home-side-heading {
      @apply text-4xl ;
    }
    .membership-text p {
      @apply text-xl ;
    }
    .membership-text ul li {
      width: 100%;
      font-size: 18px;
      line-height: 10px;
    }
  }
  .home-chess-sections .vc_col-sm-6 .vc_column-inner {
    padding: 50px!important;
    .home-side-heading {
      @apply text-4xl ;
    }
    .membership-text p {
      @apply text-xl ;
    }
    .membership-text ul li {
      width: 100%;
      font-size: 18px;
      line-height: 10px;
    }
  }
  .custom-btn-red-border{
    button{
      font-size: 18px !important;
      line-height: 24px !important;
      padding: 7px 40px !important;
      @apply w-auto;
    }
  }
  .heading_60_73_ffffff {
    font-size: 30px;
    line-height: 40px;
  }
  .heading_29_36_ffffff{
    @apply text-xl ;
  }
  .section-core-values {
    .wpb_single_image.vc_align_right {
      @apply text-center;
    }
  }
  .text-center-responsive{
    text-align: center !important;
  }
  .custom-btn-white-border {
    button{
      @apply w-auto;
      font-size: 18px !important;
      line-height: 24px !important;
      padding: 7px 40px !important;
    }
  }
  .footer-logo {
    img{
      max-width: 80% !important;
    }
  }
  .footer-cols{
    @apply grid-cols-1;
    p{
      @apply text-base pl-4;
      br{
        @apply hidden;
      }
    }
  }
  .footer-heading{
    @apply text-lg px-4;
  }
  .footer-copyright-text {
    @apply grid-cols-12 px-4;
  }
  footer{
    ._holder {
      @apply text-center pt-6;
      ul {
        @apply text-center;
        li {
          @apply px-3;
          a{
            @apply text-sm tracking-wider;
          }
        }
      }
    }
  }
  .after-home-banner-cards-section {
    margin: 0 !important;
  }
  .home-after-banner-section{
    @apply bg-gray-100 overflow-x-hidden;
  }
  .home-banner-cards-row {
    margin-top: 0 !important;
  }
  .responsive-height-300 {
    height: 300px;
  }
  .about-us-content{
    .normal-text{
      p {
        @apply text-xl ;
      }
    }
  }
  .heading_79_95_ffffff{
    @apply text-6xl;
  }
  .partner_slider:not(.partner_slider_responsive) {
    @apply hidden;
  }
  .partner_slider.partner_slider_responsive {
    @apply block min-h-full;
    .partner-box .partner-box-img {
      @apply w-full;
    }
  }
  .check-mark-li{
    ul{
      li{
        @apply w-full;
      }
    }
  }
  .testimonial-simple-container{
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .testimonials_slider_single_content * {
    @apply text-xl ;
  }
  .testimonials_slider:before {
    left: 0;
    top: -10px;
    height: 60px;
    width: 60px;
  }
  .testimonail-slider-container .testimonial-arrow {
    top: -40px;
  }
  .testimonail-slider-container .testimonial-next-arrow {
    right: unset;
    left: 55%;
  }
  .testimonail-slider-container .testimonial-previous-arrow{
    left: 48%;
  }
  .about-icon-row {
    display: none !important;
  }
  .about-icon-row-responsive {
    display: block !important;
  }
  // Header
  div#myTopnav {
    @apply block;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn,
  .topnav ul li a {
    @apply hidden;
  }
  .topnav a.icon {
    @apply float-right block;
  }
  div#tsd_menu {
    @apply hidden;
  }
  ._logo {
    @apply hidden;
  }
  ._navItems {
    @apply w-full;
  }
  .topnav.responsive {
    @apply relative;
  }
  .topnav.responsive .icon {
    @apply absolute top-0 right-0;
  }
  .topnav.responsive a,
  .topnav.responsive ul li a {
    @apply block text-left float-none;
  }
  .topnav.responsive .dropdown {
    @apply float-none;
  }
  .topnav.responsive .dropdown-content {
    @apply relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    @apply block w-full text-left;
  }
  ._join{
    input, textarea{
      @apply p-5 text-base mb-4;
    }
    textarea{
      @apply h-52;
    }
  }
  .wpcf7-form {
    ._join input[type=submit] {
      @apply px-8 text-xl py-4;
    }
  }
  .desktop-footer-nav{
    display: none !important;
  }
  .sub-box-container{
    .sub-box-col-left {
      grid-column: span 12 / span 12 !important;
    }
    .sub-box-col-right {
      grid-column: span 12 / span 12 !important;
    }
  }
}
@media(min-width: 768px) and (max-width: 1024px){
  // Header
  div#myTopnav {
    @apply block;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn,
  .topnav ul li a {
    @apply hidden;
  }
  .topnav a.icon {
    @apply float-right block;
  }
  div#tsd_menu {
    @apply hidden;
  }
  ._logo {
    @apply hidden;
  }
  ._navItems {
    @apply w-full;
  }
  .topnav.responsive {
    @apply relative;
  }
  .topnav.responsive .icon {
    @apply absolute top-0 right-0;
  }
  .topnav.responsive a,
  .topnav.responsive ul li a {
    @apply block text-left float-none;
  }
  .topnav.responsive .dropdown {
    @apply float-none;
  }
  .topnav.responsive .dropdown-content {
    @apply relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    @apply block w-full text-left;
  }
  .banner-blue-overlay {
    min-height: 500px;
  }
  .partner_slider{
    display: none !important;
  }
  .partner_slider_responsive{
    @apply min-h-full;
    display: block !important;
    .partner-box .partner-box-img {
      @apply w-full;
    }
  }
  .custom-btn-red-border {
    button{
      padding: 7px 40px !important;
      width: auto;
    }
  }
  .about-section-heading {
    @apply text-4xl ;
  }
  .about-normal-text {
    @apply text-base ;
  }
  .about-icon-row {
    margin-left: -10% !important;
    margin-right: -10% !important;
    img{
      height: 120px !important;
    }
  }
  .section-our-primary-goals {
    @apply overflow-hidden;
  }
  .section-our-primary-goals .primary-goals-excerpt {
    @apply text-base ;
  }
}
@media(min-width: 1366px) and (max-width: 1535px){
  #tsd_menu ul li a {
    font-size: 16px;
  }
}


/////// file split here

@import url("https://use.typekit.net/uty5nio.css");

.vc_row {
  .vc_grid-container {
    max-width : 1200px;
    margin    : auto;
    padding: 0 30px;
  }

  &[data-vc-stretch-content=true] {
    .vc_grid-container {
      max-width : none;
    }
  }
}

.btn {
  // @apply bg-blue-600 text-white py-5 px-12 rounded-full inline-block text-4xl;
}

nav {
  @apply fixed left-0 right-0 py-6 bg-white z-50 shadow-amhshadow2 bg-opacity-75;
  ul {
    li {
      @apply float-left  mr-14;
      &:last-child {
        @apply mr-0;
      }

      a {
        color : #070606;

        &:hover {
          @apply font-bold;
        }
      }

      &.current-menu-item {
        a {
          @apply font-bold;
        }
      }
    }
  }

  &.active {
    @apply bg-white;
  }
}

footer {
  @apply bg-blue-700 text-white pt-24 pb-16 ;
  h3 {
    @apply text-center text-white mb-20;
  }

  ._holder {
    @apply text-right;
    ul {
      @apply inline-block;
      li {
        float        : left;
        padding      : 0 20px;
        position     : relative;
        border-right : 1px solid #fff;

        a {
          @apply text-white;
          img {
            display           : inline-block;
            transform         : translateY(-10px);
            -webkit-transform : translateY(-10px);
            -moz-transform    : translateY(-10px);
          }
        }

        &:last-child {
          border-right : 0;
        }
      }
    }
  }
}

._sideBar {
  ul {
    li {
      a {
        @apply text-2xl ;
        &:hover,
        &.active {
          @apply text-red-700;
        }
      }
    }
  }
}

._checkList {
  list-style-type : none;
  padding         : 0;
  margin          : 0;

  li {
    @apply relative pl-20 text-3xl ;
    &:before {
      content         : '';
      @apply absolute left-0 h-16 w-16 top-2/4 transform -translate-y-2/4;
      background      : url("../img/check-list.png") no-repeat center left;
      background-size : contain;
      mix-blend-mode  : darken;
    }

    & + li {
      margin-top : 50px;
    }
  }
}

._lSearch {
  @apply fixed top-0 left-0 right-0 border border-gray-400 py-6 bg-blue-500 text-gray-300 text-xl z-50;
  input {
    @apply text-base bg-blue-500 border border-blue-100 rounded-full py-1 px-8 2xl:pr-36 placeholder-F9F9F9 placeholder-opacity-75;
  }

  button {
    @apply absolute transform right-4 top-2/4 -translate-y-2/4;
  }

  & + nav {
    @apply top-20;
  }
}

._smBanner {
  @apply pt-96 pb-16;
  h1 {
    @apply text-white text-xl  mb-0;
  }
}

._pLogo {
  img {
    @apply border border-blue-100;
  }
}

._join {
  @apply max-w-[800px] w-full inline-block mx-auto;
  h3 {
    @apply mb-20;
  }

  input, textarea {
    @apply p-10 text-2xl bg-white rounded-md border border-gray-400 mb-10  inline-block w-full;
  }

  textarea {
    @apply h-64;
  }
}

._bBox {
  @apply border border-gray-200 rounded-md overflow-hidden;
  & > div {
    @apply p-9;
  }

  h3 {
    @apply text-3xl ;
  }

  p {
    // @apply ;
  }

  a {
    @apply w-full bg-gray-100 text-center text-red-700 inline-block p-4;
  }
}

._bRow {
  ._txt {
    @apply border border-gray-200 bg-white rounded-md overflow-hidden max-w-3xl absolute top-2/4 transform -translate-y-2/4;
    h3 {
      @apply text-center mb-10;
    }

    p {
      @apply text-2xl ;
    }

    a {
      @apply inline-block text-red-700 text-2xl ;
    }
  }
}

._dBox {
  @apply p-8 font-medium min-h-[430px] bg-white mb-4 inline-block border text-gray-200 text-5xl ;
}

._dSample {
  @apply text-blue-700 text-base  italic text-center;
}

._links {
  @apply inline-block;
  li {
    @apply float-left mx-16 text-2xl;
    a {
      @apply text-blue-500;
    }
  }
}

._cta {
  @apply bg-blue-500 py-16;
  h1 {
    @apply text-white text-xl  mb-0;
  }

  h2 {
    @apply font-medium mb-0 text-white;
  }
}

._bPart {
  p {
    @apply text-3xl  mb-6;
  }

  a {
    @apply max-w-3xl text-green-600 rounded-md py-3 px-6 inline-block;
  }
}

._content {
  p {
    @apply mb-6;
  }

  ul {
    @apply pl-8;
    li {
      @apply mb-6;
    }
  }

  h4 {
    @apply text-gray-400 text-2xl  mb-6;
  }
}

._simpleBtn {
  @apply max-w-3xl rounded-md py-3 px-6 mb-4 inline-block;
}

._p {
  text-align : center;
}
