@charset "UTF-8";
@import url("https://use.typekit.net/uty5nio.css");
@import url("https://use.typekit.net/uty5nio.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply text-gray-800 font-sans text-xl  font-normal overflow-x-hidden;
  }

  section {
    @apply relative py-28;
    clear: both;
  }

  h1 {
    @apply text-blue-dark text-5xl leading-tight font-bold;
  }

  h2 {
    @apply text-blue-dark text-5xl leading-tight font-bold;
  }

  h3 {
    @apply text-blue-dark leading-tight;
  }

  h4 {
    @apply text-blue-dark leading-tight font-light;
  }

  p {
    @apply mb-4;
  }

  a.button {
    @apply text-red-dark hover:text-red
      border-2  rounded-full px-12;
  }
  a.button.large {
    @apply text-4xl;
  }
  a.button.red {
    @apply border-red;
  }
  a.button.white {
    @apply border-white text-white;
  }
}
.vc_row .vc_grid-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.vc_row[data-vc-stretch-content=true] .vc_grid-container {
  max-width: none;
}

.btn {
  @apply bg-24398E text-white py-5 px-12 rounded-full inline-block text-4xl;
}

nav {
  @apply fixed left-0 right-0 py-[25px] bg-FFFFFF z-[999] shadow-amhshadow2 bg-opacity-75;
}
nav ul li {
  @apply float-left leading-[24px] mr-[4.68vw];
}
nav ul li:last-child {
  @apply mr-0;
}
nav ul li a {
  color: #070606;
}
nav ul li a:hover {
  @apply font-bold;
}
nav ul li.current-menu-item a {
  @apply font-bold;
}
nav.active {
  @apply bg-FFFFFF;
}

footer {
  @apply bg-173064 text-white pt-[90px] pb-[70px] leading-[24px];
}
footer h3 {
  @apply text-center text-white mb-[80px];
}
footer ._holder {
  @apply text-right;
}
footer ._holder ul {
  @apply inline-block;
}
footer ._holder ul li {
  float: left;
  padding: 0 20px;
  position: relative;
  border-right: 1px solid #fff;
}
footer ._holder ul li a {
  @apply text-white;
}
footer ._holder ul li a img {
  display: inline-block;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}
footer ._holder ul li:last-child {
  border-right: 0;
}

._sideBar ul li a {
  @apply text-[26px] leading-[62px];
}
._sideBar ul li a:hover, ._sideBar ul li a.active {
  @apply text-C32026;
}

._checkList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
._checkList li {
  @apply relative pl-[80px] text-[30px] leading-[37px];
}
._checkList li:before {
  content: "";
  @apply absolute left-0 h-[70px] w-[70px] top-[50%] transform -translate-y-2/4;
  background: url("../img/check-list.png") no-repeat center left;
  background-size: contain;
  mix-blend-mode: darken;
}
._checkList li + li {
  margin-top: 50px;
}

._lSearch {
  @apply fixed top-0 left-0 right-0 border border-707070 py-[22px] bg-3250C7 text-F9F9F9 text-[21px] leading-[29px] z-[998];
}
._lSearch input {
  @apply text-[16px] bg-3250C7 border border-E8ECFA rounded-full py-[5px] px-[30px] 2xl:pr-[150px] placeholder-F9F9F9 placeholder-opacity-75;
}
._lSearch button {
  @apply absolute transform right-4 top-[50%] -translate-y-2/4;
}
._lSearch + nav {
  @apply top-[87px];
}

._smBanner {
  @apply pt-[395px] pb-[65px];
}
._smBanner h1 {
  @apply text-white text-[79px] leading-[95px] mb-0;
}

._pLogo img {
  @apply border border-E8ECFA;
}

._join {
  @apply max-w-[800px] w-[100%] inline-block mx-auto;
}
._join h3 {
  @apply mb-[80px];
}
._join input, ._join textarea {
  @apply p-[40px] text-[25px] bg-FFFFFF rounded-md border-[1px] border-707070 mb-[40px] leading-[30px] inline-block w-[100%];
}
._join textarea {
  @apply h-[250px];
}

._bBox {
  @apply border border-B8B8B8 rounded-md overflow-hidden;
}
._bBox > div {
  @apply p-[35px];
}
._bBox h3 {
  @apply text-[28px] leading-[34px];
}
._bBox p {
  @apply leading-[24px];
}
._bBox a {
  @apply w-full bg-F7F7F7 text-center text-C32026 inline-block p-4;
}

._bRow ._txt {
  @apply border border-B8B8B8 bg-FFFFFF rounded-md overflow-hidden max-w-[800px] absolute top-[50%] transform -translate-y-2/4;
}
._bRow ._txt h3 {
  @apply text-center mb-[38px];
}
._bRow ._txt p {
  @apply text-[25px] leading-[30px];
}
._bRow ._txt a {
  @apply inline-block text-C32026 text-[25px] leading-[30px];
}

._dBox {
  @apply p-[30px] font-medium min-h-[430px] bg-FFFFFF mb-4 inline-block border text-B8B8B8 text-[50px] leading-[61px];
}

._dSample {
  @apply text-blue-700 text-[16px] leading-[30px] italic text-center;
}

._links {
  @apply inline-block;
}
._links li {
  @apply float-left mx-[60px] text-[26px];
}
._links li a {
  @apply text-3250C7;
}

._cta {
  @apply bg-3250C7 py-16;
}
._cta h1 {
  @apply text-white text-[78px] leading-[95px] mb-0;
}
._cta h2 {
  @apply font-medium mb-0 text-white;
}

._bPart p {
  @apply text-[29px] leading-[36px] mb-6;
}
._bPart a {
  @apply border-[1px] text-186C08 rounded-md py-3 px-6 inline-block;
}

._content p {
  @apply mb-[25px];
}
._content ul {
  @apply pl-8;
}
._content ul li {
  @apply mb-6;
}
._content h4 {
  @apply text-707070 text-[24px] leading-[29px] mb-[23px];
}

._simpleBtn {
  @apply border-[1px] rounded-md py-3 px-6 mb-4 inline-block;
}

._p {
  text-align: center;
}

._banner h1 {
  @apply text-white;
}
._banner h3 {
  @apply text-2BB1D9 text-[51px] leading-[62px] m-0;
}

._stats ._box {
  @apply bg-F7FAFC p-12 shadow-amhshadow1;
}
._stats ._box img {
  @apply inline-block mb-5;
}
._stats ._box p {
  @apply text-707070;
}

hr {
  position: relative;
  @apply pb-16 border-0;
}
hr:after {
  content: "";
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  @apply absolute w-[294px] bg-707070 h-[2px] left-2/4 bottom-0;
}

._tags a {
  @apply text-2BB1D9 rounded-full border-2 leading-[37px] w-full text-center;
}

._events ._holder {
  @apply shadow-amhshadow2 bg-FFFFFF px-[40px] pt-[87px] pb-[60px] rounded-[6px];
}
._events ._holder ._ev {
  @apply rounded-[6px] p-6 bg-B8DDFD bg-opacity-[0.20];
}
._events ._holder ._ev ._d {
  @apply text-E50019 uppercase text-[13px] leading-[40px] mb-0;
}
._events ._holder ._ev h4 {
  @apply mb-5;
}
._events ._holder ._ev h4 span {
  @apply w-full inline-block text-1F1F1F;
}
._events ._holder ._ev p:not(._d) {
  @apply text-[13px] leading-[18px] mb-4;
}
._events ._holder ._ev a {
  @apply uppercase text-[15px] leading-[42px] text-003E92 font-semibold;
}

.page-content {
  padding: 0 15px !important;
}

.staff-flex {
  @apply flex flex-row;
}

.staff-image {
  @apply rounded-full;
}

.staff-media {
  flex: 0 0 20%;
}

.staff-meta {
  @apply py-0 px-6;
  flex: 0 0 80%;
}

.staff-meta p br {
  @apply hidden;
}

.page-id-160 ._parallax {
  @apply hidden;
}

.quote-icon {
  @apply relative;
}

.quote-icon:before {
  content: "";
  @apply h-24 w-24 absolute -top-16 -left-16 bg-contain bg-no-repeat bg-left;
  background-image: url(http://amhic.local/wp-content/uploads/2021/07/quote.png);
}

.quote-reference h5 {
  @apply text-right text-lg  text-red-700 font-semibold;
}

.quote-reference p {
  @apply text-right text-lg  tracking-normal text-blue-700 font-normal;
}

.blue-overlay {
  min-height: 100% !important;
  height: inherit !important;
  position: absolute !important;
}

._p_relative {
  @apply relative;
}

._z_index_1 {
  z-index: 1;
}

.page-id-314 ._parallax {
  @apply hidden;
}

.check-mark-li ul li {
  @apply w-1/3 inline-block float-left py-0 px-9 text-gray-800 text-base  relative mb-12;
}

.check-mark-li ul li br {
  @apply hidden;
}

.check-mark-li ul li strong {
  @apply text-blue-700 text-lg  mb-4 block;
}

.check-mark-li ul li:before {
  content: "";
  background-image: url(http://amhic.local/wp-content/uploads/2021/07/checked.png);
  @apply h-6 w-6 absolute top-0 left-0 bg-center bg-no-repeat bg-cover;
}

.partner_slider {
  @apply bg-white rounded-lg min-h-[490px];
  box-shadow: 0px 25px 50px #00000040;
}

.partner_slider.partner_slider_responsive {
  @apply hidden;
}

.partner-box {
  @apply p-9;
}
.partner-box .partner-box-img {
  @apply p-4 inline-block relative w-6/12;
}
.partner-box .partner-box-img img {
  @apply max-w-full;
}
.partner-box .partner-box-name {
  @apply h-4/5 w-full max-w-[87%] absolute top-4 text-blue-700 text-xl  text-center pt-[38%];
}

.partner_slider .slick-prev {
  @apply left-0 z-50;
}

.partner_slider .slick-prev:before {
  @apply hidden;
}

.partner_slider .slick-prev:after {
  content: "";
  background-image: url(../img/left-polygon.png);
  @apply absolute left-2.5 -top-1 w-7 h-7 bg-no-repeat bg-center;
}

.partner_slider .slick-next {
  @apply right-0 z-50;
}

.partner_slider .slick-next:before {
  @apply hidden;
}

.partner_slider .slick-next:after {
  content: "";
  background-image: url(../img/right-polygon.png);
  @apply absolute right-2.5 -top-1 w-7 h-7 bg-no-repeat bg-center;
}

.partner_slider .slick-prev,
.partner_slider .slick-next {
  @apply top-1/2;
}

.page-id-435 ._parallax,
.page-id-504 ._parallax,
.page-id-653 ._parallax,
.page-id-592 ._parallax,
.page-id-712 ._parallax {
  @apply hidden;
}

.team-testimonial .person-name {
  @apply text-base  text-red-700;
}

.team-testimonial .staff-box {
  @apply pr-0;
}

.team-testimonial .description,
.team-testimonial .description p {
  @apply text-base  text-blue-600;
}

.p-0 > div {
  padding: 0 !important;
}

.card-info ul li {
  @apply text-gray-400 text-base  mb-4;
}

.card-info ul li strong {
  width: auto !important;
  @apply inline-block float-right font-black;
}

.card-info p {
  @apply text-gray-400 text-base;
}

.card-info h4 {
  @apply text-gray-400 text-base;
}

.circled-number:before {
  content: "";
  color: inherit;
  border: 3px solid;
  @apply w-16 h-16 rounded-full inline-block mr-4;
}

.circled-number-1:before {
  content: "1";
}

.circled-number-2:before {
  content: "2";
}

.circled-number-3:before {
  content: "3";
}

.check-list ul li {
  @apply bg-no-repeat bg-left text-xl  text-gray-400 pl-16 mb-6 relative;
}
.check-list ul li:before {
  content: "";
  @apply absolute left-0 -top-2 h-16 w-16;
  background-image: url(../img/check-list.png);
  background-size: 60px;
}

.download-btn button {
  font-size: 25px !important;
  padding: 10px !important;
}

/* Tailwind */
.banner-blue-overlay {
  @apply relative min-h-screen pb-8 bg-cover bg-center overflow-hidden;
}

.banner-blue-overlay::before {
  content: "";
  display: block !important;
  @apply absolute top-0 left-0 h-full w-full bg-left bg-cover;
  background-image: url(../img/banner-overlay.png);
}

.section-blue-overlay {
  @apply relative pb-8 bg-cover bg-center overflow-hidden;
}

.section-blue-overlay::before {
  content: "";
  display: block !important;
  @apply absolute top-0 left-0 h-full w-full left-0 bg-left bg-cover;
  background-image: url(../img/overlay.png);
}

.min-h-733 {
  @apply min-h-[733px];
}

.section-expert-guidance {
  @apply bg-white;
}

.section-heading-blue {
  @apply text-blue-700 font-black text-5xl;
}

.team-card .vc_column-inner {
  @apply rounded-xl;
  box-shadow: 0px 10px 10px #0000000a;
}
.team-card .vc_column-inner h3 {
  @apply font-black text-2xl text-gray-400 mb-3;
}
.team-card .vc_column-inner h4 {
  @apply font-semibold text-lg mb-6;
}
.team-card .vc_column-inner a {
  @apply text-base relative pl-6 bg-no-repeat bg-left;
  background-size: 16px;
}
.team-card .vc_column-inner .email {
  background-image: url(../img/email.png);
}
.team-card .vc_column-inner .phone {
  background-image: url(../img/call.png);
}

.staff-main-card h3 {
  @apply text-gray-400 text-xl  mb-1 font-semibold;
  letter-spacing: 0;
}
.staff-main-card h5 {
  @apply text-blue-600 font-normal text-lg  mb-5;
}
.staff-main-card a {
  @apply text-gray-400 text-base  pl-6 bg-no-repeat bg-left;
  background-size: 16px;
}
.staff-main-card .email {
  background-image: url(http://amhic.local/wp-content/uploads/2021/07/email.png);
}
.staff-main-card .phone {
  background-image: url(http://amhic.local/wp-content/uploads/2021/07/call.png);
}

.section-board-of-directors {
  @apply bg-white;
}

.team-staff .staff-box {
  @apply mb-20 pr-12;
}
.team-staff .staff-box .staff-meta h3 {
  @apply text-gray-800 text-2xl  font-normal m-0 mb-3;
}
.team-staff .staff-box .staff-meta h4 {
  @apply text-red-500 text-2xl  font-normal m-0 mb-3;
}
.team-staff .staff-box .staff-meta p {
  @apply text-lg  font-normal text-gray-400 m-0 mb-3;
}

.quote-text * {
  @apply text-blue-700 text-4xl  relative z-50;
}

.quote-reference p {
  @apply text-lg tracking-normal text-blue-700  font-normal;
}
.quote-reference h5 {
  @apply text-right text-lg  text-red-700 font-semibold;
}

.team-board .staff-box {
  @apply p-0;
}
.team-board .staff-box .staff-meta {
  flex: 0 0 100%;
}
.team-board .staff-box .staff-meta h3 {
  @apply text-base  font-normal text-red-700 mb-1;
}
.team-board .staff-box .staff-meta h4 {
  @apply text-base  font-normal text-blue-600 mb-1;
}
.team-board .staff-box .staff-meta p {
  @apply text-base  font-normal text-blue-600 mb-1;
}

.team-service .staff-box {
  @apply p-0;
}
.team-service .staff-box .staff-image {
  @apply h-28 mx-auto;
}
.team-service .staff-box .staff-media {
  @apply mb-8;
}
.team-service .staff-box .staff-meta {
  @apply text-center;
  flex: 0 0 100%;
}
.team-service .person-name {
  @apply text-gray-800 text-2xl  font-normal;
}
.team-service .job-title {
  @apply text-2xl  font-normal text-red-500 mb-8;
}
.team-service .person-email,
.team-service .person-phone {
  @apply text-base font-normal  tracking-normal text-gray-400;
}

.wpcf7-form {
  @apply text-center;
}
.wpcf7-form ._join input[type=submit] {
  @apply block bg-blue-600 py-5 px-12 text-4xl text-white my-0 mx-auto w-auto rounded-full;
}

.home-page-banner {
  @apply min-h-screen relative;
  background-image: url(../img/home-banner-overlay.png);
}
.home-page-banner h2 {
  @apply text-5xl text-white;
}
.home-page-banner button {
  font-size: 35px !important;
  padding: 10px 3rem !important;
  line-height: 42px !important;
  font-size: 35px !important;
}

._box_shadow .vc_column-inner {
  box-shadow: 3px 3px 9px #00000029;
}

.section-sub-heading-blue {
  @apply text-blue-700 text-4xl  font-black;
}

.normal-text p {
  @apply text-3xl  text-gray-800 font-normal;
}
.normal-text p br {
  @apply hidden 2xl:block;
}

.custom-btn-red-border button {
  color: #C32026;
  background-color: transparent !important;
  border: 2px solid #C32026 !important;
  width: 345px;
  font-size: 26px !important;
  line-height: 32px !important;
  padding: 7px !important;
  background-image: none !important;
}

.membership-text ul {
  @apply mx-auto my-0 mt-8;
}
.membership-text ul li {
  @apply text-blue-700 text-3xl  mb-4 font-black inline-block w-6/12;
  font-family: "proxima-nova", sans-serif;
}
.membership-text p {
  @apply text-gray-800 text-3xl;
}

.section-core-plans {
  @apply bg-white;
}
.section-core-plans img {
  @apply min-h-[200px] w-auto mx-auto my-0;
}

.section-core-values {
  @apply bg-blue-700;
}

.core-values-text {
  @apply text-3xl  text-white;
}
.core-values-text em {
  @apply not-italic opacity-40;
}

.custom-btn-white-border button {
  color: #fff !important;
  background-color: transparent !important;
  border: 2px solid #fff !important;
  width: 345px;
  font-size: 26px !important;
  line-height: 32px !important;
  padding: 7px !important;
  background-image: none !important;
}

.benefit-manager-events-heading {
  @apply text-6xl  text-blue-700;
}

.about-us-content {
  @apply bg-white;
}

.about-us-content .normal-text p {
  @apply text-3xl text-gray-400  text-center mb-16;
}

.about-our-mission-heading {
  @apply text-5xl  text-white;
}

.about-our-mission-text {
  @apply text-2xl  text-white;
}

.about-section-heading {
  @apply text-5xl text-blue-700;
}

.about-normal-text {
  @apply text-gray-400 text-xl;
}

.home-banner-card {
  @apply text-2xl text-gray-400;
}

.home-side-heading {
  @apply text-blue-700 text-6xl  font-black;
}

.home-side-content p {
  @apply font-semibold;
}

.home-arrow {
  @apply relative text-center block;
}
.home-arrow span {
  @apply invisible absolute;
}

.home-arrow:before {
  content: "";
  @apply absolute w-0 h-0 visible;
  opacity: 0.4;
}

.previous-arrow-up:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -45px;
}

.next-arrow-down:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  bottom: 0;
}

.home_slider_single * {
  @apply text-2xl  text-white opacity-40;
}

.home_slider_single > div {
  min-height: 120px !important;
}

.home_slider_single.slick-slide.slick-current.slick-active + .home_slider_single * {
  opacity: 1;
}

.about-side-heading {
  @apply text-5xl  text-blue-700 font-black;
}

.home-banner-cards-row {
  @apply -mt-44;
}

.about-side-content * {
  @apply text-2xl  text-gray-400 font-normal;
}

.section-our-primary-goals {
  @apply bg-blue-700;
}
.section-our-primary-goals .section-our-primary-goals-heading {
  @apply text-5xl text-white;
}
.section-our-primary-goals .primary-goals-excerpt {
  @apply text-xl text-white;
}
.section-our-primary-goals img {
  @apply w-full;
}

.heading_50_61_1b2c6d {
  @apply text-5xl  text-blue-700 font-black;
}

.heading_50_61_ffffff {
  @apply text-5xl  text-white font-black;
}

.bg_F7FAFC {
  @apply bg-white;
}

.heading_43_54_ffffff {
  @apply text-5xl  text-white font-black;
}

.heading_45_54_1b2c6d {
  @apply text-5xl  text-blue-700 font-black;
}

.heading_79_95_ffffff {
  @apply text-xl  font-black text-white;
}

.heading_38_46_1b2c6d {
  @apply text-4xl  text-blue-700 font-black;
}

.heading_29_36_ffffff {
  @apply text-3xl  text-white font-black;
}

.testimonials_slider_single_content {
  @apply relative;
}
.testimonials_slider_single_content * {
  @apply relative z-50 text-4xl  text-blue-700 text-center;
}

.testimonials_slider {
  @apply relative my-16;
}

.testimonials_slider:before {
  content: "";
  background-image: url(../img/quote.png);
  @apply bg-no-repeat bg-contain h-24 w-24 absolute -left-16 -top-16;
  background-position: left top;
}

.bg_top {
  @apply bg-top;
}

.testimonials_slider_single_meta {
  @apply mt-10;
}
.testimonials_slider_single_meta h3 {
  @apply text-right text-lg  text-red-700 font-semibold;
}
.testimonials_slider_single_meta h4 {
  @apply text-right text-lg  text-blue-700 font-normal;
}

.testimonail-slider-container {
  @apply relative;
}
.testimonail-slider-container .testimonial-arrow {
  @apply absolute top-16 invisible;
}
.testimonail-slider-container .testimonial-previous-arrow {
  @apply -left-14;
}
.testimonail-slider-container .testimonial-next-arrow {
  @apply -right-20;
}
.testimonail-slider-container .testimonial-arrow:before {
  @apply visible;
}
.testimonail-slider-container .testimonial-previous-arrow:before {
  content: "";
  @apply w-0 h-0 absolute;
  border-top: 10px solid transparent;
  border-right: 10px solid #1B2C6D;
  border-bottom: 10px solid transparent;
}
.testimonail-slider-container .testimonial-next-arrow:before {
  content: "";
  @apply w-0 h-0 absolute;
  border-top: 10px solid transparent;
  border-left: 10px solid #1B2C6D;
  border-bottom: 10px solid transparent;
}

.heading_24_29_1B2C6D {
  @apply text-2xl  text-blue-700 font-normal;
}

.testimonial-simple-container .testimonial_simple_box {
  @apply p-3;
}
.testimonial-simple-container h3 {
  @apply text-left text-base;
}
.testimonial-simple-container h4 {
  @apply text-left text-base;
}

.heading_59_72_1B2C6D {
  @apply text-6xl  text-blue-700 font-black;
}

.heading_28_34_C32026 {
  @apply text-3xl  text-red-700 font-black;
}

.text_20_24_707070 {
  @apply text-xl  text-gray-400 font-normal;
}

.bg_1B2C6D {
  @apply bg-blue-700;
}

.heading_24_41_ffffff {
  @apply text-2xl  text-white font-black;
}

.row-core-plans .vc_col-sm-4 .vc_column-inner {
  @apply bg-white rounded-xl overflow-hidden relative;
  box-shadow: 0px 20px 25px #0000001A;
}

.core-plans-col-heading {
  @apply bg-gray-100 text-blue-600 text-2xl  font-normal p-4 absolute top-0 left-0 w-full;
}

.our-core-plans-text h3 {
  @apply text-3xl  text-blue-700 font-semibold;
}
.our-core-plans-text ul {
  @apply my-8;
}
.our-core-plans-text ul li {
  @apply relative text-blue-700 text-2xl  font-normal pl-1 mb-5;
}
.our-core-plans-text ul li:before {
  content: "";
  @apply w-2 h-2 bg-blue-700 rounded-full inline-block relative -top-1 -left-1;
}

.heading_35_42_1b2c6d {
  @apply text-4xl  text-blue-700 font-black;
}

.heading_16_20_1b2c6d {
  @apply text-base  text-blue-700 font-black;
}

.bg_3250C7 {
  @apply bg-blue-500;
}

.heading_45_54_ffffff {
  @apply text-5xl  text-white font-black;
}

.heading_30_37_ffffff {
  @apply text-3xl  text-white font-normal;
}

.heading_38_28_FFFFFF {
  @apply text-4xl  text-white font-normal;
}

.box_shadow {
  box-shadow: 0px 4px 6px #0000000D;
  @apply rounded-xl;
}

.download-link-box {
  @apply min-h-[160px] rounded-md;
}
.download-link-box h3 {
  @apply text-blue-700 text-4xl  min-h-[85px] font-black;
}
.download-link-box a {
  @apply text-red-700 text-base  mr-4;
}
.download-link-box img {
  @apply w-auto max-w-full relative top-4;
}

.about-content {
  @apply text-2xl  text-gray-400;
}
.about-content p {
  @apply text-2xl  text-gray-400;
}
.about-content .phone,
.about-content .email {
  @apply text-red-700 relative;
}
.about-content .phone img,
.about-content .email img {
  @apply inline-block h-5;
}
.about-content .address {
  @apply pl-5 relative;
}
.about-content .address img {
  @apply absolute h-5 left-0 top-0;
}

.bg_173064 {
  @apply bg-blue-700;
}

.button-with-icon button {
  border: 2px solid #C1232C !important;
  border-radius: 20px !important;
  padding: 5px 45px !important;
  font-size: 24px !important;
  line-height: 29px !important;
}

.text_30_37_8A8A8B p {
  @apply text-3xl text-gray-300;
}

z .bg_F5F5F5 {
  @apply bg-white;
}

.text_22_32_707070 {
  @apply text-xl  text-gray-400;
}

.bg_3250C7 {
  @apply bg-blue-500;
}

.contact-card .vc_column-inner {
  box-shadow: 0px 10px 10px #0000000A;
  @apply rounded-lg px-6 py-10 bg-white;
}
.contact-card h3 {
  @apply text-blue-700 text-xl  font-black min-h-[60px] mb-4;
}
.contact-card em {
  @apply text-gray-400 text-base  min-h-[60px];
}
.contact-card h6 {
  @apply text-blue-600 text-base  mb-8;
}
.contact-card h4 {
  @apply text-blue-700 text-xl  font-black mb-5;
}
.contact-card ul {
  @apply mb-8;
}
.contact-card ul li {
  @apply text-blue-600 text-base  mb-3;
  text-align: justify !important;
}
.contact-card ul li strong {
  @apply font-normal inline-block;
  width: 90px !important;
}
.contact-card h5 {
  @apply text-blue-600 text-base  font-black absolute bottom-10 left-0 w-full block;
  text-align: center !important;
}

.bg_FFF67B {
  @apply bg-yellow-500;
}

.alert {
  @apply my-12 p-11;
  margin-bottom: 50px !important;
}
.alert .alert-content * {
  @apply text-gray-400 text-xl  font-normal;
}
.alert .alert-content strong {
  @apply font-semibold;
}
.alert .alert-icon img {
  @apply max-h-[67px] w-auto m-auto mt-2;
}

.section-member-resources-tabs .tablinks {
  @apply text-gray-400 text-2xl  block transition-all outline-none;
}
.section-member-resources-tabs .tablinks:hover,
.section-member-resources-tabs .tablinks:focus,
.section-member-resources-tabs .tablinks:active {
  @apply outline-none text-red-700;
}
.section-member-resources-tabs .tablinks.active {
  @apply text-red-700;
}
.section-member-resources-tabs .tab-content {
  @apply p-4;
}
.section-member-resources-tabs .tab-content h3 {
  @apply text-blue-600 text-3xl  font-black mb-12;
}
.section-member-resources-tabs .tab-content p {
  @apply text-gray-400 text-xl  mb-4;
}
.section-member-resources-tabs .tab-content .two-cols-column {
  @apply p-4;
}
.section-member-resources-tabs .tab-content h4 {
  @apply text-gray-400 text-2xl  font-semibold mb-8;
}
.section-member-resources-tabs .tab-content ul {
  @apply pl-11 mt-8;
}
.section-member-resources-tabs .tab-content ul li {
  @apply text-gray-400 text-xl  mb-10;
}

.page-id-1141 ._parallax {
  display: none;
}

.bg_7B1010 {
  @apply bg-red-800;
}

.btn_white_red_border button {
  color: #C32026 !important;
  font-size: 26px !important;
  line-height: 32px !important;
  background-color: #fff !important;
  border: 2px solid #C1232C !important;
  border-radius: 20px !important;
  padding: 5px 45px !important;
  text-transform: uppercase !important;
}

.events-box {
  @apply mb-16;
}
.events-box h3 {
  @apply text-blue-600 text-xl  font-semibold;
}
.events-box .title {
  @apply font-black text-2xl mb-5;
}
.events-box p {
  @apply text-gray-400 text-2xl;
}
.events-box .link {
  @apply text-red-700 text-2xl  bg-white py-1 px-11 rounded-3xl uppercase border-2 border-red-700 mt-8 inline-block;
}

#tsd_menu {
  @apply border-none mr-0 p-0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#tsd_menu ul {
  @apply border-none mr-0 p-0 flex items-center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#tsd_menu ul li {
  @apply mr-14;
}
#tsd_menu ul li a {
  @apply outline-none block relative font-normal text-2xl  uppercase;
}
#tsd_menu ul li:last-child {
  @apply mr-0;
}
#tsd_menu li {
  @apply block relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#tsd_menu li.current-menu-item a {
  @apply font-semibold;
}
#tsd_menu a {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.about-icon-row-responsive {
  display: none !important;
}

.color-menu-link a {
  @apply bg-red-700 rounded-3xl text-white text-2xl  uppercase px-9 py-1;
  border: 2px solid #C1232C;
}
.color-menu-link a:hover,
.color-menu-link a:focus,
.color-menu-link a:active {
  @apply font-normal;
}

.lock-icon-menu-link {
  @apply relative;
}
.lock-icon-menu-link a:before {
  content: "";
  @apply h-4 w-4 inline-block relative -left-1;
  background-image: url(../img/padlock.png);
  background-size: 15px;
}

#tsd_menu ul li.has-sub:hover > ul,
#tsd_menu ul li.has-sub:hover > div {
  @apply block;
}

#tsd_menu ul li > ul,
#tsd_menu ul li > div {
  border-radius: 5px;
  @apply z-50 top-12 absolute w-auto hidden;
}

#tsd_menu ul li > ul {
  @apply w-52 bg-blue-600;
  box-shadow: 0px 0px 10px #00000045;
  transition: all 0.5s ease;
}

#tsd_menu ul li > ul li {
  @apply block relative w-full pl-3 max-w-full;
}

#tsd_menu ul li > ul li a {
  @apply outline-none block relative mr-0 text-white text-base  py-1;
}

.height-unset {
  min-height: unset;
}

.home-banner-card .vc_column-inner {
  padding: 50px !important;
}

.bg_DFF3F9 {
  @apply bg-gray-100;
}

.custom-btn-red-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

._relative {
  @apply relative;
}

.heading_60_73_ffffff {
  @apply text-6xl  text-white font-black;
}

.footer-cols {
  @apply grid grid-cols-2;
}

.footer-copyright-text {
  @apply grid grid-cols-12;
}

footer ._holder ul li:nth-last-child(2) {
  border-right: 0;
}

.footer-heading {
  @apply text-3xl text-white font-black text-center;
}

div#myTopnav {
  @apply hidden;
}

.topnav {
  @apply overflow-hidden;
}

.topnav a {
  @apply float-left block text-center px-4 py-4 no-underline text-base;
}

.topnav .icon {
  @apply hidden;
}

.dropdown {
  @apply float-left overflow-hidden;
}

.dropdown .dropbtn {
  @apply text-base border-none outline-none text-white px-4 py-4 m-0;
}

.dropdown-content {
  @apply hidden absolute min-w-[160px] z-10;
}

.dropdown-content a {
  @apply float-none py-3 px-4 no-underline block text-left;
}

.dropdown:hover .dropdown-content {
  @apply block;
}

.responsive-logo {
  @apply max-w-[260px];
}

.topnav.responsive ul li {
  @apply block w-full;
}

.topnav.responsive ul li a {
  @apply text-blue-600 font-semibold;
}

.home_slider_left .slick-arrow {
  @apply invisible;
}

.home_slider_left_single h3 {
  @apply text-3xl  text-white font-black block;
}
.home_slider_left_single img {
  @apply h-36 w-auto block ml-auto;
}
.home_slider_left_single h2 {
  @apply text-5xl  text-white font-black text-right block;
}

.employer-options-box .heading {
  @apply bg-blue-700 text-center mb-1;
}
.employer-options-box .heading h2 {
  @apply text-white tracking-widest text-4xl font-normal uppercase;
}
.employer-options-box .sub-heading {
  @apply bg-red-700 text-center mb-1;
}
.employer-options-box .sub-heading h2 {
  @apply text-white tracking-widest text-3xl font-normal uppercase;
}
.employer-options-box .sub-box-container {
  @apply grid grid-cols-12 mb-1;
}
.employer-options-box .sub-box-container .sub-box-col-left {
  background-color: #d8d8d8;
  @apply mr-1 align-middle text-center col-span-5 p-4;
}
.employer-options-box .sub-box-container .sub-box-col-left .heading-container {
  @apply flex align-middle w-full h-full justify-center items-center;
}
.employer-options-box .sub-box-container .sub-box-col-right {
  background-color: #f1f1f1;
  @apply ml-1 align-middle col-span-7 p-4;
}
.employer-options-box .sub-box-container .sub-box-col-right ul li {
  @apply relative pl-6;
}
.employer-options-box .sub-box-container .sub-box-col-right ul li:before {
  content: "";
  @apply h-1 w-1 bg-gray-700 rounded-full absolute left-0 top-3;
}
.employer-options-box .sub-box-container .sub-box-col-right ul ul li {
  @apply relative pl-6;
}
.employer-options-box .sub-box-container .sub-box-col-right ul ul li:before {
  content: "»";
  @apply h-0 w-0 bg-transparent rounded-full absolute left-0 -top-1;
}

.steady-rates-box {
  @apply bg-white rounded-lg py-4 mt-14;
  box-shadow: 0 3px 20px #00000052;
}
.steady-rates-box .steady-rates-heading {
  @apply grid grid-cols-12 pt-1 pb-5;
}
.steady-rates-box .steady-rates-heading .steady-rates-heading-col h3 {
  @apply text-white text-xl font-black pl-6;
  color: #283c90;
}
.steady-rates-box .steady-rates-heading .steady-rates-heading-col-left {
  @apply col-span-8;
}
.steady-rates-box .steady-rates-heading .steady-rates-heading-col-right {
  @apply col-span-4;
}
.steady-rates-box table {
  @apply table-auto w-full;
}
.steady-rates-box table thead {
  @apply bg-blue-700;
}
.steady-rates-box table thead th {
  @apply text-white text-base font-normal tracking-wider;
}
.steady-rates-box table tr th, .steady-rates-box table tr td {
  @apply text-center;
}
.steady-rates-box table tr th:first-child {
  @apply text-left pl-6;
}
.steady-rates-box table tr td:first-child {
  @apply text-left pl-6;
}
.steady-rates-box table tbody {
  @apply pt-6;
}
.steady-rates-box table tbody th, .steady-rates-box table tbody td {
  @apply px-6 py-1;
  color: #283c90;
}
.steady-rates-box table tbody tr:first-child td {
  @apply pt-6;
}
.steady-rates-box table tbody tr:nth-child(2n) {
  background-color: #f0f0f0;
}

ul.mobile-footer-nav {
  @apply relative top-9;
}
ul.mobile-footer-nav li:last-child a img {
  @apply h-6 relative top-1;
}

._join input, ._join textarea {
  @apply py-6 text-xl mb-4;
}
._join input[type=submit] {
  font-size: 25px !important;
}

.member-resources-tabs ul.vc_tta-tabs-list {
  margin-top: 15px !important;
}
.member-resources-tabs ul.vc_tta-tabs-list li a {
  @apply text-gray-400 text-2xl  block transition-all outline-none;
  background-color: transparent !important;
  border: none !important;
}
.member-resources-tabs ul.vc_tta-tabs-list li a:hover,
.member-resources-tabs ul.vc_tta-tabs-list li a:focus,
.member-resources-tabs ul.vc_tta-tabs-list li a:active {
  @apply outline-none text-red-700;
}
.member-resources-tabs ul.vc_tta-tabs-list li.vc_active a {
  @apply text-red-700;
}
.member-resources-tabs ul.vc_tta-tabs-list li.vc_active a span {
  @apply text-red-700;
}
.member-resources-tabs .vc_tta-panels {
  @apply px-6;
  background-color: transparent !important;
  border: none !important;
  @apply p-4;
}
.member-resources-tabs .vc_tta-panels h3 {
  @apply mb-12 text-3xl font-black  text-blue-600;
}
.member-resources-tabs .vc_tta-panels h3 {
  @apply text-blue-600 text-3xl  font-black mb-12;
}
.member-resources-tabs .vc_tta-panels p {
  @apply text-gray-400 text-xl  mb-4;
}
.member-resources-tabs .vc_tta-panels .two-cols-column {
  @apply p-4;
}
.member-resources-tabs .vc_tta-panels h4 {
  @apply text-gray-400 text-2xl  font-semibold mb-8;
}
.member-resources-tabs .vc_tta-panels ul {
  @apply pl-11 mt-8;
}
.member-resources-tabs .vc_tta-panels ul li {
  @apply text-gray-400 text-xl  mb-10;
}
.member-resources-tabs .vc_tta-panels ul li a._simpleBtn {
  @apply px-1;
}
.member-resources-tabs .vc_tta-panels ul li a._simpleBtn img {
  margin-right: 3px !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  .color-menu-link a {
    @apply w-auto mx-4;
    padding: 7px 40px !important;
    color: #fff !important;
    text-align: center !important;
  }

  .section-board-of-directors .grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .team-staff .staff-flex {
    flex-direction: column;
  }

  .team-staff .staff-box {
    padding-right: 0;
  }

  .team-staff .staff-media {
    flex: 0 0 100%;
  }

  .team-staff .staff-meta {
    flex: 0 0 100%;
    padding: 25px;
  }

  .section-additional-board-members .grid-cols-4 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .team-board, .team-service {
    @apply mb-10;
  }

  .section-our-service-team .grid-cols-4 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .team-card .vc_column-inner {
    margin: 0 !important;
  }

  .team-card {
    padding: 15px !important;
  }

  .team-board .staff-box .staff-meta {
    padding: 0;
  }

  .home-page-banner h2 {
    @apply text-3xl;
  }

  .home-page-banner button {
    font-size: 16px !important;
    padding: 5px 30px !important;
  }

  .home-banner-card {
    @apply mx-4;
  }
  .home-banner-card .vc_column-inner {
    padding: 25px !important;
  }

  .normal-text br {
    @apply hidden;
  }
  .normal-text p {
    @apply text-lg;
  }

  .custom-btn-red-border {
    position: unset;
  }
  .custom-btn-red-border button {
    @apply w-auto;
    padding: 7px 40px !important;
  }

  .home-chess-sections .vc_col-sm-7 .vc_column-inner {
    padding: 50px !important;
  }
  .home-chess-sections .vc_col-sm-7 .vc_column-inner .home-side-heading {
    @apply text-4xl;
  }
  .home-chess-sections .vc_col-sm-7 .vc_column-inner .membership-text p {
    @apply text-xl;
  }
  .home-chess-sections .vc_col-sm-7 .vc_column-inner .membership-text ul li {
    width: 100%;
    font-size: 18px;
    line-height: 10px;
  }

  .home-chess-sections .vc_col-sm-6 .vc_column-inner {
    padding: 50px !important;
  }
  .home-chess-sections .vc_col-sm-6 .vc_column-inner .home-side-heading {
    @apply text-4xl;
  }
  .home-chess-sections .vc_col-sm-6 .vc_column-inner .membership-text p {
    @apply text-xl;
  }
  .home-chess-sections .vc_col-sm-6 .vc_column-inner .membership-text ul li {
    width: 100%;
    font-size: 18px;
    line-height: 10px;
  }

  .custom-btn-red-border button {
    font-size: 18px !important;
    line-height: 24px !important;
    padding: 7px 40px !important;
    @apply w-auto;
  }

  .heading_60_73_ffffff {
    font-size: 30px;
    line-height: 40px;
  }

  .heading_29_36_ffffff {
    @apply text-xl;
  }

  .section-core-values .wpb_single_image.vc_align_right {
    @apply text-center;
  }

  .text-center-responsive {
    text-align: center !important;
  }

  .custom-btn-white-border button {
    @apply w-auto;
    font-size: 18px !important;
    line-height: 24px !important;
    padding: 7px 40px !important;
  }

  .footer-logo img {
    max-width: 80% !important;
  }

  .footer-cols {
    @apply grid-cols-1;
  }
  .footer-cols p {
    @apply text-base pl-4;
  }
  .footer-cols p br {
    @apply hidden;
  }

  .footer-heading {
    @apply text-lg px-4;
  }

  .footer-copyright-text {
    @apply grid-cols-12 px-4;
  }

  footer ._holder {
    @apply text-center pt-6;
  }
  footer ._holder ul {
    @apply text-center;
  }
  footer ._holder ul li {
    @apply px-3;
  }
  footer ._holder ul li a {
    @apply text-sm tracking-wider;
  }

  .after-home-banner-cards-section {
    margin: 0 !important;
  }

  .home-after-banner-section {
    @apply bg-gray-100 overflow-x-hidden;
  }

  .home-banner-cards-row {
    margin-top: 0 !important;
  }

  .responsive-height-300 {
    height: 300px;
  }

  .about-us-content .normal-text p {
    @apply text-xl;
  }

  .heading_79_95_ffffff {
    @apply text-6xl;
  }

  .partner_slider:not(.partner_slider_responsive) {
    @apply hidden;
  }

  .partner_slider.partner_slider_responsive {
    @apply block min-h-full;
  }
  .partner_slider.partner_slider_responsive .partner-box .partner-box-img {
    @apply w-full;
  }

  .check-mark-li ul li {
    @apply w-full;
  }

  .testimonial-simple-container {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .testimonials_slider_single_content * {
    @apply text-xl;
  }

  .testimonials_slider:before {
    left: 0;
    top: -10px;
    height: 60px;
    width: 60px;
  }

  .testimonail-slider-container .testimonial-arrow {
    top: -40px;
  }

  .testimonail-slider-container .testimonial-next-arrow {
    right: unset;
    left: 55%;
  }

  .testimonail-slider-container .testimonial-previous-arrow {
    left: 48%;
  }

  .about-icon-row {
    display: none !important;
  }

  .about-icon-row-responsive {
    display: block !important;
  }

  div#myTopnav {
    @apply block;
  }

  .topnav a:not(:first-child), .dropdown .dropbtn,
.topnav ul li a {
    @apply hidden;
  }

  .topnav a.icon {
    @apply float-right block;
  }

  div#tsd_menu {
    @apply hidden;
  }

  ._logo {
    @apply hidden;
  }

  ._navItems {
    @apply w-full;
  }

  .topnav.responsive {
    @apply relative;
  }

  .topnav.responsive .icon {
    @apply absolute top-0 right-0;
  }

  .topnav.responsive a,
.topnav.responsive ul li a {
    @apply block text-left float-none;
  }

  .topnav.responsive .dropdown {
    @apply float-none;
  }

  .topnav.responsive .dropdown-content {
    @apply relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    @apply block w-full text-left;
  }

  ._join input, ._join textarea {
    @apply p-5 text-base mb-4;
  }
  ._join textarea {
    @apply h-52;
  }

  .wpcf7-form ._join input[type=submit] {
    @apply px-8 text-xl py-4;
  }

  .desktop-footer-nav {
    display: none !important;
  }

  .sub-box-container .sub-box-col-left {
    grid-column: span 12/span 12 !important;
  }
  .sub-box-container .sub-box-col-right {
    grid-column: span 12/span 12 !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  div#myTopnav {
    @apply block;
  }

  .topnav a:not(:first-child), .dropdown .dropbtn,
.topnav ul li a {
    @apply hidden;
  }

  .topnav a.icon {
    @apply float-right block;
  }

  div#tsd_menu {
    @apply hidden;
  }

  ._logo {
    @apply hidden;
  }

  ._navItems {
    @apply w-full;
  }

  .topnav.responsive {
    @apply relative;
  }

  .topnav.responsive .icon {
    @apply absolute top-0 right-0;
  }

  .topnav.responsive a,
.topnav.responsive ul li a {
    @apply block text-left float-none;
  }

  .topnav.responsive .dropdown {
    @apply float-none;
  }

  .topnav.responsive .dropdown-content {
    @apply relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    @apply block w-full text-left;
  }

  .banner-blue-overlay {
    min-height: 500px;
  }

  .partner_slider {
    display: none !important;
  }

  .partner_slider_responsive {
    @apply min-h-full;
    display: block !important;
  }
  .partner_slider_responsive .partner-box .partner-box-img {
    @apply w-full;
  }

  .custom-btn-red-border button {
    padding: 7px 40px !important;
    width: auto;
  }

  .about-section-heading {
    @apply text-4xl;
  }

  .about-normal-text {
    @apply text-base;
  }

  .about-icon-row {
    margin-left: -10% !important;
    margin-right: -10% !important;
  }
  .about-icon-row img {
    height: 120px !important;
  }

  .section-our-primary-goals {
    @apply overflow-hidden;
  }

  .section-our-primary-goals .primary-goals-excerpt {
    @apply text-base;
  }
}
@media (min-width: 1366px) and (max-width: 1535px) {
  #tsd_menu ul li a {
    font-size: 16px;
  }
}
.vc_row .vc_grid-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.vc_row[data-vc-stretch-content=true] .vc_grid-container {
  max-width: none;
}

nav {
  @apply fixed left-0 right-0 py-6 bg-white z-50 shadow-amhshadow2 bg-opacity-75;
}
nav ul li {
  @apply float-left  mr-14;
}
nav ul li:last-child {
  @apply mr-0;
}
nav ul li a {
  color: #070606;
}
nav ul li a:hover {
  @apply font-bold;
}
nav ul li.current-menu-item a {
  @apply font-bold;
}
nav.active {
  @apply bg-white;
}

footer {
  @apply bg-blue-700 text-white pt-24 pb-16;
}
footer h3 {
  @apply text-center text-white mb-20;
}
footer ._holder {
  @apply text-right;
}
footer ._holder ul {
  @apply inline-block;
}
footer ._holder ul li {
  float: left;
  padding: 0 20px;
  position: relative;
  border-right: 1px solid #fff;
}
footer ._holder ul li a {
  @apply text-white;
}
footer ._holder ul li a img {
  display: inline-block;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}
footer ._holder ul li:last-child {
  border-right: 0;
}

._sideBar ul li a {
  @apply text-2xl;
}
._sideBar ul li a:hover, ._sideBar ul li a.active {
  @apply text-red-700;
}

._checkList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
._checkList li {
  @apply relative pl-20 text-3xl;
}
._checkList li:before {
  content: "";
  @apply absolute left-0 h-16 w-16 top-2/4 transform -translate-y-2/4;
  background: url("../img/check-list.png") no-repeat center left;
  background-size: contain;
  mix-blend-mode: darken;
}
._checkList li + li {
  margin-top: 50px;
}

._lSearch {
  @apply fixed top-0 left-0 right-0 border border-gray-400 py-6 bg-blue-500 text-gray-300 text-xl z-50;
}
._lSearch input {
  @apply text-base bg-blue-500 border border-blue-100 rounded-full py-1 px-8 2xl:pr-36 placeholder-F9F9F9 placeholder-opacity-75;
}
._lSearch button {
  @apply absolute transform right-4 top-2/4 -translate-y-2/4;
}
._lSearch + nav {
  @apply top-20;
}

._smBanner {
  @apply pt-96 pb-16;
}
._smBanner h1 {
  @apply text-white text-xl  mb-0;
}

._pLogo img {
  @apply border border-blue-100;
}

._join {
  @apply max-w-[800px] w-full inline-block mx-auto;
}
._join h3 {
  @apply mb-20;
}
._join input, ._join textarea {
  @apply p-10 text-2xl bg-white rounded-md border border-gray-400 mb-10  inline-block w-full;
}
._join textarea {
  @apply h-64;
}

._bBox {
  @apply border border-gray-200 rounded-md overflow-hidden;
}
._bBox > div {
  @apply p-9;
}
._bBox h3 {
  @apply text-3xl;
}
._bBox a {
  @apply w-full bg-gray-100 text-center text-red-700 inline-block p-4;
}

._bRow ._txt {
  @apply border border-gray-200 bg-white rounded-md overflow-hidden max-w-3xl absolute top-2/4 transform -translate-y-2/4;
}
._bRow ._txt h3 {
  @apply text-center mb-10;
}
._bRow ._txt p {
  @apply text-2xl;
}
._bRow ._txt a {
  @apply inline-block text-red-700 text-2xl;
}

._dBox {
  @apply p-8 font-medium min-h-[430px] bg-white mb-4 inline-block border text-gray-200 text-5xl;
}

._dSample {
  @apply text-blue-700 text-base  italic text-center;
}

._links {
  @apply inline-block;
}
._links li {
  @apply float-left mx-16 text-2xl;
}
._links li a {
  @apply text-blue-500;
}

._cta {
  @apply bg-blue-500 py-16;
}
._cta h1 {
  @apply text-white text-xl  mb-0;
}
._cta h2 {
  @apply font-medium mb-0 text-white;
}

._bPart p {
  @apply text-3xl  mb-6;
}
._bPart a {
  @apply max-w-3xl text-green-600 rounded-md py-3 px-6 inline-block;
}

._content p {
  @apply mb-6;
}
._content ul {
  @apply pl-8;
}
._content ul li {
  @apply mb-6;
}
._content h4 {
  @apply text-gray-400 text-2xl  mb-6;
}

._simpleBtn {
  @apply max-w-3xl rounded-md py-3 px-6 mb-4 inline-block;
}

._p {
  text-align: center;
}