@import url("https://use.typekit.net/uty5nio.css");

.vc_row {
  .vc_grid-container {
    max-width : 1200px;
    margin    : auto;
    padding: 0 30px;
  }

  &[data-vc-stretch-content=true] {
    .vc_grid-container {
      max-width : none;
    }
  }
}

.btn {
  @apply bg-24398E text-white py-5 px-12 rounded-full inline-block text-[35px];
}

nav {
  @apply fixed left-0 right-0 py-[25px] bg-FFFFFF z-[999] shadow-amhshadow2 bg-opacity-75;
  ul {
    li {
      @apply float-left leading-[24px] mr-[4.68vw];
      &:last-child {
        @apply mr-0;
      }

      a {
        color : #070606;

        &:hover {
          @apply font-bold;
        }
      }

      &.current-menu-item {
        a {
          @apply font-bold;
        }
      }
    }
  }

  &.active {
    @apply bg-FFFFFF;
  }
}

footer {
  @apply bg-173064 text-white pt-[90px] pb-[70px] leading-[24px];
  h3 {
    @apply text-center text-white mb-[80px];
  }

  ._holder {
    @apply text-right;
    ul {
      @apply inline-block;
      li {
        float        : left;
        padding      : 0 20px;
        position     : relative;
        border-right : 1px solid #fff;

        a {
          @apply text-white;
          img {
            display           : inline-block;
            transform         : translateY(-10px);
            -webkit-transform : translateY(-10px);
            -moz-transform    : translateY(-10px);
          }
        }

        &:last-child {
          border-right : 0;
        }
      }
    }
  }
}

._sideBar {
  ul {
    li {
      a {
        @apply text-[26px] leading-[62px];
        &:hover,
        &.active {
          @apply text-C32026;
        }
      }
    }
  }
}

._checkList {
  list-style-type : none;
  padding         : 0;
  margin          : 0;

  li {
    @apply relative pl-[80px] text-[30px] leading-[37px];
    &:before {
      content         : '';
      @apply absolute left-0 h-[70px] w-[70px] top-[50%] transform -translate-y-2/4;
      background      : url("../img/check-list.png") no-repeat center left;
      background-size : contain;
      mix-blend-mode  : darken;
    }

    & + li {
      margin-top : 50px;
    }
  }
}

._lSearch {
  @apply fixed top-0 left-0 right-0 border border-707070 py-[22px] bg-3250C7 text-F9F9F9 text-[21px] leading-[29px] z-[998];
  input {
    @apply text-[16px] bg-3250C7 border border-E8ECFA rounded-full py-[5px] px-[30px] 2xl:pr-[150px] placeholder-F9F9F9 placeholder-opacity-75;
  }

  button {
    @apply absolute transform right-4 top-[50%] -translate-y-2/4;
  }

  & + nav {
    @apply top-[87px];
  }
}

._smBanner {
  @apply pt-[395px] pb-[65px];
  h1 {
    @apply text-white text-[79px] leading-[95px] mb-0;
  }
}

._pLogo {
  img {
    @apply border border-E8ECFA;
  }
}

._join {
  @apply max-w-[800px] w-[100%] inline-block mx-auto;
  h3 {
    @apply mb-[80px];
  }

  input, textarea {
    @apply p-[40px] text-[25px] bg-FFFFFF rounded-md border-[1px] border-707070 mb-[40px] leading-[30px] inline-block w-[100%];
  }

  textarea {
    @apply h-[250px];
  }
}

._bBox {
  @apply border border-B8B8B8 rounded-md overflow-hidden;
  & > div {
    @apply p-[35px];
  }

  h3 {
    @apply text-[28px] leading-[34px];
  }

  p {
    @apply leading-[24px];
  }

  a {
    @apply w-full bg-F7F7F7 text-center text-C32026 inline-block p-4;
  }
}

._bRow {
  ._txt {
    @apply border border-B8B8B8 bg-FFFFFF rounded-md overflow-hidden max-w-[800px] absolute top-[50%] transform -translate-y-2/4;
    h3 {
      @apply text-center mb-[38px];
    }

    p {
      @apply text-[25px] leading-[30px];
    }

    a {
      @apply inline-block text-C32026 text-[25px] leading-[30px];
    }
  }
}

._dBox {
  @apply p-[30px] font-medium min-h-[430px] bg-FFFFFF mb-4 inline-block border text-B8B8B8 text-[50px] leading-[61px];
}

._dSample {
  @apply text-blue-700 text-[16px] leading-[30px] italic text-center;
}

._links {
  @apply inline-block;
  li {
    @apply float-left mx-[60px] text-[26px];
    a {
      @apply text-3250C7;
    }
  }
}

._cta {
  @apply bg-3250C7 py-16;
  h1 {
    @apply text-white text-[78px] leading-[95px] mb-0;
  }

  h2 {
    @apply font-medium mb-0 text-white;
  }
}

._bPart {
  p {
    @apply text-[29px] leading-[36px] mb-6;
  }

  a {
    @apply border-[1px] text-186C08 rounded-md py-3 px-6 inline-block;
  }
}

._content {
  p {
    @apply mb-[25px];
  }

  ul {
    @apply pl-8;
    li {
      @apply mb-6;
    }
  }

  h4 {
    @apply text-707070 text-[24px] leading-[29px] mb-[23px];
  }
}

._simpleBtn {
  @apply border-[1px] rounded-md py-3 px-6 mb-4 inline-block;
}

._p {
  text-align : center;
}